// $black: #161616 ;

// .signup-section {
//   padding: 10rem 0;
//   background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('../img/bg-signup.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-attachment: scroll;
//   background-size: cover;
//   .form-inline {
//     input {
//       box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1) !important;
//       padding: 1.25rem 2rem;
//       height: auto;
//       font-family: 'Varela Round';
//       font-size: 80%;
//       text-transform: uppercase;
//       letter-spacing: 0.15rem;
//       border: 0;
//     }
//   }
// }

html,
body,
   canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  }
  .signup-section{
  background-color: #222;
  background-image: url('https://drive.google.com/uc?export=view&id=0BzFF7FmbJUo5QUFIaE93YjJSdkU');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  height:75vh;
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
  }

 

  }
  
  canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  }
  
  

