@import './about';
@import './buttons';
@import './contact';
@import './masthead';
@import './mixins';
@import './navbar';
@import './projects';
@import './signup';
@import './variables';
@import './grayscale';


//colors
$white_50: rgba(255, 255, 255, 0.5);
$white_75: rgba(255, 255, 255, 0.75);
$white: white;
$color_hunter_green_approx: #161616;
$color_breaker_bay_approx: #64a19d;
$color_faded_jade_approx: #467370;
$color_wild_sand_approx: #f5f5f5;
$color_hunter_green_30_approx: rgba(22, 22, 22, 0.3);
$color_hunter_green_70_approx: rgba(22, 22, 22, 0.7);
$black_10: rgba(0, 0, 0, 0.1);
$color_smalt_blue_approx: #4f837f;
$color_hunter_green_90_approx: rgba(22, 22, 22, 0.9);
$color_hunter_green_80_approx: rgba(22, 22, 22, 0.8);
$color_botticelli_approx: #c5e1e9;
$black_30: rgba(0, 0, 0, 0.3);
$color_blue_chill_approx: #0d7e9c;
$color_cerulean_approx: #18b1da;
$color_astronaut_blue_approx: #043863;
$white_70: rgba(255, 255, 255, 0.7);
$color_hunter_green_10_approx: rgba(22, 22, 22, 0.1);
$color_hunter_green_50_approx: rgba(22, 22, 22, 0.5);
$white_10: rgba(255, 255, 255, 0.1);
$white_30: rgba(255, 255, 255, 0.3);
$color_william_approx: #3c6360;
$black: black;
$red: red;
$black_42: rgba(0, 0, 0, .42);

//fonts
$font_0: Varela Round;
$font_1: Nunito;

//urls
$url_0: url(../img/sunrise_header.jpg);
// $url_1: url(../img/bg-signup.jpg);

#mainNav {
	min-height: 56px;
	background-color: transparent;

	.navbar-toggler {
		font-size: 80%;
		padding: 0.75rem;
		color: $black;
		border: 1px solid $black;

		&:focus {
			outline: none;
		}
	}

	.navbar-brand {
		color: $color_hunter_green_approx;
		font-weight: 700;
		padding: .9rem 0;
	}

	.navbar-nav .nav-item {

		// &:hover {
		// 	color: fade($color_blue_chill_approx, 80%);
		// 	outline: none;
		// 	background-color: transparent;
		// }
		&:active {
			outline: none;
			background-color: transparent;
		}

		&:focus {
			outline: none;
			background-color: transparent;
		}
	}
}

//RESPONSIV MOBILE

@media screen and (max-width: 928px) {

	#mainNav {
		.navbar-brand {
			color: white;
			font-weight: 700;
			padding: .9rem 0;
		}

		a.active {
			color: #7d7d7d !important;
			font-size: 20px;
			font-weight: bold;
			text-decoration: underline overline;
			-webkit-text-decoration-color: #64a19d;
			text-decoration-color: #64a19d;
		}

		.navbar-toggler {
			font-size: 1.2rem;
			padding: 0.75rem;
			color: white;
			border: none;
		}
	}

	.navbar-light {
		.navbar-nav {
			.nav-link {
				color: rgba(255, 255, 255, .5) !important;
			}
		}
	}

	#click {
		h2 {
			font-size: 2.5rem;
		}
	}

	#exp {
		.timeline-content {


			h2 {
				margin-top: 3.2rem !important;
			}
		}

		*,
		::after,
		::before {
			box-sizing: content-box !important;
		}
	}


	#about {
		padding-top: 0;
	}


	#projects {

		height: 100vh !important;

		#TitreRea {
			position: relative !important;
			left: 0 !important;
		}

		#realisation {
			/* text-align: center; */
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
		}

		.alignrealisation {
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			h2{
			line-height: 2 !important;
			letter-spacing: 0 !important;
			}
			.portfolio-item {
				.portfolio-link {
					.portfolio-hover {

						height: 15.4vh;
					}
				}
			}
		}
	}
}

//RESPONSIV IPAD
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	#projects {

		height: 70vh !important;

		.alignrealisation {
			position: relative !important;
			top: 95px !important;
			left: 22px !important;

			#TitreRea {
				position: relative !important;
				left: 13px !important;
			}

			h2 {
				line-height: 3 !important;
				letter-spacing: 8px !important;
				color: white;
			}
		}
		.modal-body {
			position: relative;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 1rem;
			font-size: 1.7rem;
		}
	}

	#exp{
		font-size: 1.4rem;
	}
	#about{
		p{
			font-size: 1.9rem;
		}
	}

	.contact-section{
		font-size: 1.7rem;

	}

   }

//RESPONSIV IPAD PRO

   @media only screen and (min-width: 1024px  ) 
   and (max-width: 1366px)  {

	#mainNav{
		font-size: 1.7rem;

		a.active{
			font-size:31px;
		}
	}

	#click{

		.main-title{
			h2{
				font-size: 3rem;
			}
		}
	}
	#projects {

		height: 70vh !important;

		// #realisation {
		// 	text-align: center;
		// 	position: relative;
		// 	top: 10%;
		// 	left: 0 !important;
		// }

		.alignrealisation {
			position: relative !important;
			top: 95px !important;
			left: 22px !important;

			.portfolio-item {
				right: 0;
				margin: 42px 10px 19px !important;
			}

			#TitreRea {
				position: relative !important;
				left: 13px !important;
			}

			h2 {
				line-height: 3 !important;
				letter-spacing: 8px !important;
				color: white;
			}
		}
		.modal-body {
			position: relative;
			-ms-flex: 1 1 auto;
			flex: 1 1 auto;
			padding: 1rem;
			font-size: 1.7rem !important;
		}
	}

	#exp{
		font-size: 1.4rem;

		h2{
			margin-top: 2rem;
		}

		p{
			font-size: 2rem;
		}
		ul{
			font-size: 2rem;
		}
	}

	#signup
	{

	#centercontact {
		
		max-width: 89.666667%;
	}
} 
	#about{
		p{
			font-size: 1.9rem;
		}
	}

	.contact-section{
		font-size: 1.7rem;

	}
	
}
@media(min-width: 992px) {
	#mainNav {
		padding-top: 0;
		padding-bottom: 0;
		border-bottom: none;
		background-color: transparent;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: background-color 0.3s ease-in-out;

		.navbar-brand {
			padding: .5rem 0;
			color: $white_50;
		}

		.nav-link {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: none;
			padding: 2rem 1.5rem;
			color: $white_50;
			// &:hover {
			// 	color: $white_75;
			// }

			&:active {
				color: $white;
			}
		}

		&.navbar-shrink {
			background-color: $white;

			.navbar-brand {
				color: $white_50;
			}

			.nav-link {
				color: $white_50;
				padding: 1.5rem 1.5rem 1.25rem;
				border-bottom: 0.25rem solid transparent;

				&:hover {
					color: $color_breaker_bay_approx;
				}

				&:active {
					color: $color_faded_jade_approx;
				}

				&.active {
					color: $color_breaker_bay_approx;
					outline: none;
					border-bottom: 0.25rem solid $color_breaker_bay_approx;
				}
			}
		}
	}

	.masthead {
		height: 100vh;
		padding: 0;

		h1 {
			font-size: 6.5rem;
			line-height: 6.5rem;
			letter-spacing: 0.8rem;
		}

		h2 {
			max-width: 35rem !important;
			font-size: 1.9rem !important;
			line-height: 2.5rem;
		}
	}

	.projects-section {
		.featured-text {
			padding: 0 0 0 2rem;
			border-left: 0.5rem solid $color_breaker_bay_approx;
		}

		.project-text {
			padding: 5rem;

			hr {
				border-color: $color_breaker_bay_approx;
				border-width: .25rem;
				width: 30%;
			}
		}
	}
}




.masthead {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 35rem;
	padding: 15rem 0;
	background: linear-gradient(to bottom, $color_hunter_green_30_approx 0, $color_hunter_green_70_approx 75%, $color_hunter_green_approx 100%), $url_0;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;

	h1 {
		font-family: $font_0;
		font-size: 2.5rem;
		line-height: 2.5rem;
		letter-spacing: 0.8rem;
		// position: relative;
		// top: 44px;
	}

	h2 {
		max-width: 20rem;
		font-size: 1rem;
	}
}

@media(min-width: 768px) {
	.masthead h1 {
		font-size: 4rem;
		line-height: 4rem;
	}
}

.btn {
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0.1875rem 0.1875rem 0 $black_10 !important;
	padding: 1.25rem 2rem;
	font-family: $font_0;
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: .15rem;
	border: 0;
}

.btn-primary {
	background-color: $color_breaker_bay_approx;

	&:hover {
		background-color: $color_smalt_blue_approx;
	}

	&:focus {
		background-color: $color_smalt_blue_approx;
		color: $white;
	}

	&:active {
		background-color: $color_faded_jade_approx !important;
	}
}

.about-section {
	padding-top: 10rem;
	background: linear-gradient(to bottom, $color_hunter_green_approx 0, $color_hunter_green_90_approx 75%, $color_hunter_green_80_approx 100%);

	p {
		margin-bottom: 4rem;
		font-size: 1.2rem;
	}

	h2 {
		color: linear-gradient(to bottom, $color_hunter_green_30_approx 0, $color_hunter_green_70_approx 75%, $color_hunter_green_approx 100%);
		font-size: 2rem;
	}
}

.projects-section {
	padding: 10rem 0;

	.featured-text {
		padding: 2rem;
	}

	.project-text {
		padding: 3rem;
		font-size: 90%;
	}
}

#titrexp {
	color: linear-gradient(to bottom, $color_hunter_green_30_approx 0, $color_hunter_green_70_approx 75%, $color_hunter_green_approx 100%);

	h2 {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

	}
}

.timeline {
	position: relative;

	h2 {
		margin: 2.6rem 0 0.9rem;
		font-size: 1.2em;
		font-weight: bold;
	}
}

.timeline::before {
	content: "";
	background: $color_botticelli_approx;
	width: 5px;
	height: 95%;
	position: absolute;
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateX(-50%);
}

.timeline-item {
	width: 100%;
	margin-bottom: 30px;

	// .fadeInRight{
	// -webkit-animation-name: fadeInRightBig;
	// animation-name: fadeInRightBig;
	// -webkit-animation-duration: 1s;
	// animation-duration: 1s;
	// -webkit-animation-fill-mode: both;
	// animation-fill-mode: both;
	// }
	// @-webkit-keyframes fadeInRightBig {
	// 0% {
	// opacity: 0;
	// -webkit-transform: translate3d(2000px, 0, 0);
	// transform: translate3d(2000px, 0, 0);
	// }
	// 100% {
	// opacity: 1;
	// -webkit-transform: none;
	// transform: none;
	// }
	// }
	// @keyframes fadeInRightBig {
	// 0% {
	// opacity: 0;
	// -webkit-transform: translate3d(2000px, 0, 0);
	// transform: translate3d(2000px, 0, 0);
	// }
	// 100% {
	// opacity: 1;
	// -webkit-transform: none;
	// transform: none;
	// }
	// }
	&:nth-child(even) {
		.timeline-content {
			float: right;

			.date {
				right: auto;
				left: 0;
			}
		}

		.timeline-content::after {
			content: "";
			position: absolute;
			border-style: solid;
			width: 0;
			height: 0;
			top: 30px;
			left: -15px;
			border-width: 10px 15px 10px 0;
			border-color: transparent $color_wild_sand_approx transparent transparent;
		}
	}
}

// .fadeInLeft{ 
// 	-webkit-animation-name: fadeInLeftBig;
// 	animation-name: fadeInLeftBig;
// 	-webkit-animation-duration: 1s;
// 	animation-duration: 1s;
// 	-webkit-animation-fill-mode: both;
// 	animation-fill-mode: both;
// 	}
// 	@-webkit-keyframes fadeInLeftBig {
// 	0% {
// 	opacity: 0;
// 	-webkit-transform: translate3d(-2000px, 0, 0);
// 	transform: translate3d(-2000px, 0, 0);
// 	}
// 	100% {
// 	opacity: 1;
// 	-webkit-transform: none;
// 	transform: none;
// 	}
// 	}
// 	@keyframes fadeInLeftBig {
// 	0% {
// 	opacity: 0;
// 	-webkit-transform: translate3d(-2000px, 0, 0);
// 	transform: translate3d(-2000px, 0, 0);
// 	}
// 	100% {
// 	opacity: 1;
// 	-webkit-transform: none;
// 	transform: none;
// 	}
// }
.timeline-item::after {
	content: "";
	display: block;
	clear: both;
}

.timeline-content {
	position: relative;
	width: 45%;
	padding: 20px 30px 10px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	background: $color_wild_sand_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 20px 25px -15px $black_30;
}

.timeline-content::after {
	content: "";
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 30px;
	right: -15px;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent $color_wild_sand_approx;
}

.timeline-img {
	width: 30px;
	height: 30px;
	background: $color_smalt_blue_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

////expériences
#exp {
	overflow: hidden;



}



////section projet

#projects {
	height: 70vh;
	position: relative;
	background-color: black;
	overflow: hidden;

	//effect 3d des images

	//fin effet 3d des images
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	figure {
		margin: 0;
	}

	#realisation {

		text-align: center;
		position: relative;
		top: 10%;
		left: 15%;
	}

	// Absolute Background
	.absolute-bg {
		position: absolute;
		background-color: black;
	}

	// Fog
	.fog {
		position: relative;

		height: 100vh;
		width: 100%;
		overflow: hidden;
		background-color: #000;

		&__container {
			position: absolute;

			height: 100%;
			width: 100%;

			// overflow: hidden;
		}

		&__img {
			position: absolute;

			height: 125vh;
			;
			width: 300vw;

			&--first {
				background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-1.png') repeat-x;
				background-size: cover;
				background-position: center;
				animation: marquee 60s linear infinite;
			}

			&--second {
				background: url('https://res.cloudinary.com/dkr52htco/image/upload/v1536173269/fog-2.png') repeat-x;
				background-size: cover;
				background-position: center;
				animation: marquee 40s linear infinite;
			}
		}
	}

	.alignrealisation {
		position: relative;
		left: 4%;
		top: 7%;


		h2 {
			position: relative;
			z-index: 100;
			font-size: 2.5rem;
			line-height: 6.5rem;
			letter-spacing: 0.8rem;
			color: linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(237, 237, 237, 1) 43%, rgba(75, 75, 75, 1) 99%, rgba(75, 75, 75, 1) 100%) !important;
			// margin-top: 1.5rem;
			// margin-bottom: 1.5rem;
		}

		h3 {
			color: $color_smalt_blue_approx !important;
		}

		.portfolio-item {
			right: 0;
			margin: 0 0 15px;

			.portfolio-link {
				position: relative;
				display: block;
				max-width: 400px;
				margin: 0 auto;
				cursor: pointer;

				.portfolio-hover {
					position: absolute;
					top: 99%;
					width: 100%;
					height: 13vh;
					-webkit-transition: all ease 0.5s;
					-moz-transition: all ease 0.5s;
					transition: all ease 0.5s;
					opacity: 0;
					background: fade-out($color_smalt_blue_approx, .1);

					&:hover {
						opacity: 1;
					}

					.portfolio-hover-content {
						font-size: 20px;
						position: absolute;
						top: 50%;
						width: 100%;
						height: 20px;
						margin-top: -12px;
						text-align: center;
						color: white;

						i {
							margin-top: -12px;
						}

						h3,
						h4 {
							margin: 0;
						}
					}
				}
			}

			.portfolio-caption {
				max-width: 400px;
				margin: 0 auto;
				padding: 25px;
				text-align: center;
				background-color: $white;

				h4 {
					margin: 0;
					text-transform: none;
				}

				p {
					font-size: 16px;
					font-style: italic;
					margin: 0;
					// @include serif-font;
				}
			}
		}

		* {
			z-index: 2;
		}
	}

	@media(min-width:767px) {
		#portfolio {
			.portfolio-item {
				margin: 0 0 30px;
			}
		}
	}
}

.portfolio-modal {
	.modal-dialog {
		margin: 1rem;
		max-width: 100vw;
	}

	.modal-content {
		padding: 100px 0;
		text-align: center;

		h2 {
			font-size: 3em;
			margin-bottom: 15px;

		}

		p {
			margin-bottom: 30px;
		}

		p.item-intro {
			font-size: 16px;
			font-style: italic;
			margin: 20px 0 30px;
			//   @include serif-font;
		}

		ul.list-inline {
			margin-top: 0;
			margin-bottom: 30px;
		}

		img {
			margin-bottom: 30px;
		}

		button {
			cursor: pointer;
		}
	}

	.close-modal {
		position: absolute;
		top: 25px;
		right: 25px;
		width: 75px;
		height: 75px;
		cursor: pointer;
		background-color: transparent;

		&:hover {
			opacity: 0.3;
		}

		.lr {
			/* Safari and Chrome */
			z-index: 1051;
			width: 1px;
			height: 75px;
			margin-left: 35px;
			/* IE 9 */
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			background-color: $gray-900;

			.rl {
				/* Safari and Chrome */
				z-index: 1052;
				width: 1px;
				height: 75px;
				/* IE 9 */
				-webkit-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
				background-color: $gray-900;
			}
		}
	}

	// Marquee
	@keyframes marquee {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(-200vw, 0, 0);
		}
	}

}

//fin section projet

.date {
	background: $color_smalt_blue_approx;
	display: inline-block;
	color: $white;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

@media screen and(max-width: 768px) {
	.timeline::before {
		left: 50px;
	}

	.timeline {
		.timeline-img {
			left: 50px;
			background: $color_smalt_blue_approx !important;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {
			&:nth-child(even) .timeline-content {
				float: none;
			}

			&:nth-child(odd) .timeline-content::after {
				content: "";
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent $color_wild_sand_approx transparent transparent;
			}
		}
	}

	.timeline-item:nth-child(odd) .timeline-content .date {
		right: auto;
		left: 0;
	}
}

body {
	font-family: $font_1;
	letter-spacing: 0.0625em;

	&.dark-mode .timeline-content {
		background-color: $color_astronaut_blue_approx;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 20px 25px -15px $white_70;
	}
}

///hover link

///fin hover link

////sign-up
#signup {

	#centercontact {
		position: absolute;
		top: 79%;
	}


	i {
		position: relative;
		z-index: 1;
		color: linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(237, 237, 237, 1) 43%, rgba(75, 75, 75, 1) 99%, rgba(75, 75, 75, 1) 100%) !important;
	}

	h2 {
		position: relative;
		z-index: 1;
		color: linear-gradient(top, rgba(237, 237, 237, 1) 0%, rgba(237, 237, 237, 1) 43%, rgba(75, 75, 75, 1) 99%, rgba(75, 75, 75, 1) 100%) !important;
	}

	html,
	body,
	canvas {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.signup-section {
		background-color: #222;
		background-image: url('https://drive.google.com/uc?export=view&id=0BzFF7FmbJUo5QUFIaE93YjJSdkU');
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		position: relative;
		height: 75vh;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, .7);
			width: 100%;
			height: 100%;
		}



	}

	canvas {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
}

//   ////// FIN section SIGN UP

.contact-section {
	padding: 5rem 0 0;

	// .card {
	// 	border: 0;
	// 	border-bottom: 0.25rem solid $color_breaker_bay_approx;
	// 	h4 {
	// 		font-size: 0.8rem;
	// 		font-family: $font_0;
	// 		text-transform: uppercase;
	// 		letter-spacing: 0.15rem;
	// 	}
	// 	hr {
	// 		border-color: $color_breaker_bay_approx;
	// 		border-width: 0.25rem;
	// 		width: 3rem;
	// 	}
	// }
	.social {
		margin-top: 5rem;

		a {
			text-align: center;
			height: 3rem;
			width: 3rem;
			background: $white_10;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 100%;
			line-height: 3rem;
			color: $white_30;

			// &:hover {
			// 	color: $white_50;
			// }
			&:active {
				color: $white;
			}
		}
	}
}

a {
	color: $color_breaker_bay_approx;

	&:focus {
		text-decoration: none;
		color: $color_william_approx;
	}

	// &:hover {
	// 	text-decoration: none;
	// 	color: $color_william_approx;
	// }
}

.bg-black {
	background-color: $color_hunter_green_approx !important;
}

.bg-primary {
	background-color: $color_breaker_bay_approx !important;
}

.text-primary {
	color: $color_breaker_bay_approx !important;
}

form {
	color: $color_smalt_blue_approx;
}

.small_underline {
	border: 2px solid $black;
	width: 40px;
	display: block;
}

.small_underline--red {
	border: 2px solid $red;
}

.title--red {
	color: $red;
}

.container-img {
	position: relative;
	cursor: pointer;

	&:hover::after {
		opacity: 1;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: opacity .800s linear;
	}
}

.container-img::after {
	content: ' +';
	width: 270px;
	height: 270px;
	text-align: center;
	line-height: 270px;
	background-color: $black_42;
	position: absolute;
	top: 0;
	left: 0;
	color: $white;
	font-size: 1.7rem;
	opacity: 0;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity .800s linear;
}

.msg-error {
	display: none;
	color: $red;
	margin-left: 15px;
	font-size: .85rem;

	>span {
		display: inline-block;
		background-color: $red;
		color: $white;
		padding: 5px 8px;
	}
}

.msg-error--show {
	display: inline-block;
}

.error {
	border: 1px solid $red;
}

footer {
	padding: 5rem 0;

}